@font-face {
    font-family: Bodoni;
    src: url('fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf');
    font-weight: 400;
    font-style: normal;
}
h1
{
    font-family:Bodoni;
    font-size: 3rem;
    color: black;
}
body
{
    font-family:Bodoni;
    font-size: 2rem;
    color:black;
    font-weight: bold;
    background-color:antiquewhite;
}
.hover-button {
    background:teal;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: transform 0.3s, background 0.3s; 
}

.hover-button:hover {
    background:olive; 
    transform: scale(1.1); 
}
