h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 3rem;
}
body {
    font-family:'Times New Roman', Times;
    text-align:left;
 background-color: black;
 color: whitesmoke;
 font-size: 2rem;

}
.survey-button
{
    background-color: red;
    border: none;
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: medium;
    border-radius: 10px;
}
.trends-button
{
    background-color:wheat;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: medium;
    border-radius: 10px;
}
.data-button
{background-color:wheat;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: medium;
    border-radius: 10px;
}

